{% extends 'registration/base.html' %}
    {% load staticfiles %}


{% block content %}
  <div class="container">
      <div class="row justify-content-center align-items-center" style="height:80vh;">
          <div class="col-auto border p-3">
              You are logged out
              <div>
              <button onclick="window.location.href='http://doctorcityvn.pythonanywhere.com'" id="mothongtin" class="w3-button w3-black"><img src="{% static 'images/thongtin.ico' %}" class="img-fluid" alt="Responsive image" style="max-height:30px">Login again</button>
              <div>
          </div>

      </div>
  </div>


{% endblock %}